@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
.bb, html, body, .viewport, .splash, .page-title, .page-subtitle, .switchbox, .dry-button,
.wet-button,
.quiz-link, .intro, .quizbox,
.glossary, .container, .wet-container,
.dry-container, .wet-container header,
.dry-container header, .questionaire, .questionaire li, .example {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  font-family: 'Open Sans';
  color: #333; }

.viewport {
  width: 100%;
  height: 100%;
  overflow: auto; }

/* Splash Pages */
.splash {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%; }

.splash--dry {
  background-color: #d3c594; }

.splash--wet {
  background-color: #455781; }

.page-title {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 30px;
  width: 320px;
  height: 92px;
  font-weight: 300;
  font-size: 92px;
  letter-spacing: 30px;
  line-height: 92px;
  text-align: center; }

.page-subtitle {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 40px;
  top: 132px;
  background-color: rgba(255, 255, 255, 0.25);
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  text-align: center; }

.page-title--dry,
.page-subtitle--dry {
  color: #455781; }

.page-title--wet,
.page-subtitle--wet {
  color: #d3c594; }

.switchbox {
  margin: 20px auto;
  position: relative;
  width: 320px;
  height: 40px; }

.dry-button,
.wet-button,
.quiz-link {
  display: block;
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }
  .dry-button:hover,
  .wet-button:hover,
  .quiz-link:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    color: #fff; }
  .dry-button:active,
  .wet-button:active,
  .quiz-link:active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9); }

.dry-button {
  background-color: #d3c594;
  float: left;
  color: #455781; }

.wet-button {
  background-color: #455781;
  float: right;
  color: #d3c594; }

.intro {
  padding: 15px;
  text-align: center; }

.quizbox,
.glossary {
  padding-bottom: 50px;
  text-align: center; }

.quiz-link {
  margin: 40px auto 0;
  background-color: #4fabb7;
  color: #f2f2f2; }

/* Quiz */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #272822; }

.wet-container,
.dry-container {
  width: 50%;
  height: calc(100% - 300px);
  float: left; }
  .wet-container header,
  .dry-container header {
    width: 100%;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 40px;
    text-align: center;
    letter-spacing: 10px; }

.wet-container header {
  background-color: #455781;
  color: #d3c594; }

.dry-container header {
  background-color: #d3c594;
  color: #455781; }

.CodeMirror {
  width: 100%;
  height: calc(100% - 40px); }

.questionaire {
  padding: 40px 0;
  position: absolute;
  height: calc(100% - 340px);
  width: 50%;
  top: 40px;
  right: 0;
  background-color: #272822;
  overflow: auto;
  overflow-x: hidden;
  z-index: 1000; }
  .questionaire ul {
    padding: 0;
    list-style: none; }
  .questionaire li {
    margin: 10px auto;
    padding: 10px;
    width: calc(50%);
    background-color: #fff;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    cursor: pointer; }
    .questionaire li:hover {
      background-color: #e6e6e6;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }
    .questionaire li:active {
      -webkit-transform: scale(0.95);
      -moz-transform: scale(0.95);
      -ms-transform: scale(0.95);
      -o-transform: scale(0.95);
      transform: scale(0.95); }

.example {
  padding: 15px;
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #fff;
  overflow: auto;
  clear: both; }

.notify-incorrect {
  margin: auto;
  position: absolute;
  width: 320px;
  height: 40px;
  top: 3px;
  right: 0;
  left: 0;
  font-size: 1.5em;
  text-align: center;
  color: #d32b2b; }

.wrong-answer {
  display: block; }

.wrong-answer-disabled {
  display: none; }

.correct-answer {
  color: #34ac39; }

.score {
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ddd; }

/* Media Breakpoints */
@media screen and (max-width: 720px) {
  .questionaire li {
    font-size: 0.8em; }

  .notify-incorrect {
    font-size: 1em; } }

/*# sourceMappingURL=app.css.map */
