<div class="splash splash--dry">
  <h1 class="page-title page-title--dry">DRY</h1>
  <span class="page-subtitle page-subtitle--dry">Don't Repeat Yourself</span>
</div>

<div ng-include src="'app/views/switchbox.html'"></div>

<div class="intro">
  <h3>DRY Coding</h3>
  <p>DRY stands for <i>Don't Repeat Yourself</i>, and is a broad principle that many follow.</p>
  <p>DRY promotes cleaner, more maintainable code, and is an important concept to get a grasp of early on.</p>
</div>

<div ng-include src="'app/views/quizlink.html'"></div>
