<div class="glossary">
  <header>
    <h3>Glossary</h3>
    <p>Below is a glossary of terms that will be used in the quiz. Each one will link to the Mozilla Developer Network (<a href="https://developer.mozilla.org/en-US/">MDN</a>) so that you can learn more.</p>
  </header>

  <h4><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Values,_variables,_and_literals#Variables">Variable</a></h4>
  <p>Variables are namespace containers for values. They can contain strings, numbers, functions, objects, arrays, and more.</p>

  <h4><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Values,_variables,_and_literals#Object_literals">Object Literal</a></h4>
  <p>In JavaScript, an object literal is a series of zero or more properties and key values that. This is comparable to a hashtable or dictionary in other languages.</p>

  <h4><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/constructor">Constructor</a></h4>
  <p>A constructor, or constructor function, is a function template for creating objects in JavaScript.</p>

  <h4><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for">For... Loop</a></h4>
  <p>A for loop is a program flow construct that repeats its code block depending on the params that it is passed.</p>

  <h4><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array">Array</a></h4>
  <p>An array is a series of zero or more elements contained in a list like format.</p>

  <h4><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Functions">Helper Function</a></h4>
  <p>A helper function is a style of function that is intended to be reused by other functions for one concise purpose. It differs in no way from a regular function except in how it is implemented.</p>

  <h4><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/switch">Switch Statement</a></h4>
  <p>A switch statement checks an expression against a series of case clauses and executes the inside of the case if it finds a match.</p>

  <h4><a href="https://developer.mozilla.org/en-US/docs/AJAX">AJAX</a></h4>
  <p>AJAX is a collection of technologies that are used for asynchronous calls to and across servers.</p>

</div>
