<div class="quizbox">
  <p>The quiz will focus on the JavaScript language, but the core concepts &amp; principles should be universal to all languages.</p>
  <p>This is intended for those new to coding, but one should have a basic understanding of all the terms in glossary below.</p>
  <p>Correct answers will reward you with 3 points. Each incorrect answer will deduct 1 point.</p>
  <p>Click below to take the quiz and see some examples of DRY vs WET coding!</p>
  <a href="#/quiz/1" class="quiz-link">Begin Quiz</a>
</div>

<hr />


