<div class="splash splash--wet">
  <h1 class="page-title page-title--wet">WET</h1>
  <span class="page-subtitle page-subtitle--wet">We Enjoy Typing</span>
</div>


<div ng-include src="'app/views/switchbox.html'"></div>

<div class="intro">
  <h3>WET Coding</h3>
  <p>WET stands for <i>We Enjoy Typing</i>, and represents bad design principles.</p>
  <p>Generally one wants to avoid typing out repetitive tasks, or defining the same logic multiple times.</p>
</div>

<div ng-include src="'app/views/quizlink.html'"></div>
<div ng-include src="'app/views/glossary.html'"></div>
