// Sass

@import 'base';

.bb {
  @include Box-Sizing(border-box);
}

html, body {
  @extend .bb;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Open Sans';
  color: #333;
}

.viewport {
  @extend .bb;
  width: 100%;
  height: 100%;
  overflow: auto;
}


/* Splash Pages */

$wet-color: #455781;
$dry-color: #d3c594;

.splash {
  @extend .bb;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}
.splash--dry {
  background-color: $dry-color;
}
.splash--wet {
  background-color: $wet-color;
}

$page-title-height: 92px;
$subtitle-height: 40px;

.page-title {
  @extend .bb;
  @include AbsCenter();
  padding-left: 30px;
  width: 320px;
  height: $page-title-height;
  font: {
    weight: 300;
    size: 92px;
  }
  letter-spacing: 30px;
  line-height: $page-title-height;
  text-align: center;
}
.page-subtitle {
  @extend .bb;
  @include AbsCenter();
  width: 320px;
  height: $subtitle-height;
  top: $page-title-height + $subtitle-height;
  background-color: rgba(255, 255, 255, 0.25);
  font: {
    weight: 300;
    size: 24px;
  }
  line-height: $subtitle-height;
  text-align: center;
}

.page-title--dry,
.page-subtitle--dry {
  color: $wet-color;
}
.page-title--wet,
.page-subtitle--wet {
  color: $dry-color;
}

.switchbox {
  @extend .bb;
  margin: 20px auto;
  position: relative;
  width: 320px;
  height: 40px;
}

.dry-button,
.wet-button,
.quiz-link {
  @extend .bb;
  display: block;
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  @include Transition(0.25s);
  &:hover {
    @include Transform(scale(1.2));
    color: #fff;
  }
  &:active {
    @include Transform(scale(0.9));
  }
}

.dry-button {
  background-color: $dry-color;
  float: left;
  color: $wet-color;
}
.wet-button {
  background-color: $wet-color;
  float: right;
  color: $dry-color;
}

.intro {
  @extend .bb;
  padding: 15px;
  text-align: center;
}

.quizbox,
.glossary{
  @extend .bb;
  padding-bottom: 50px;
  text-align: center;
}

.quiz-link {
  margin: 40px auto 0;
  background-color: #4fabb7;
  color: #f2f2f2;
}

/* Quiz */

.container {
  @extend .bb;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #272822;
}

.wet-container,
.dry-container {
  @extend .bb;
  width: 50%;
  height: calc(100% - 300px);
  float: left;
  header {
    @extend .bb;
    width: 100%;
    font: {
      weight: 300;
      size: 1.5em;
    }
    line-height: 40px;
    text-align: center;
    letter-spacing: 10px;
  }
}

.wet-container header {
  background-color: $wet-color;
  color: $dry-color;
}

.dry-container header {
  background-color: $dry-color;
  color: $wet-color;
}

.CodeMirror {
  width: 100%;
  height: calc(100% - 40px);
}

.questionaire {
  @extend .bb;
  padding: 40px 0;
  position: absolute;
  height: calc(100% - 340px);
  width: 50%;
  top: 40px;
  right: 0;
  background-color: #272822;
  overflow: auto;
  overflow-x: hidden;
  z-index: 1000;

  ul {
    padding: 0;
    list-style: none;
  }
  li {
    @extend .bb;
    margin: 10px auto;
    padding: 10px;
    width: calc(50%);
    background-color: #fff;
    @include Transition(0.10s);
    cursor: pointer;
    &:hover {
      background-color: #e6e6e6;
      @include Transform(scale(1.1));
    }
    &:active {
      @include Transform(scale(0.95));
    }
  }
}

.example {
  @extend .bb;
  padding: 15px;
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #fff;
  overflow: auto;
  clear: both;
}
.notify-incorrect {
  margin: auto;
  position: absolute;
  width: 320px;
  height: 40px;
  top: 3px;
  right: 0;
  left: 0;

  font: {
    size: 1.5em;
  }

  text-align: center;
  color: #d32b2b
}
.wrong-answer {
  display: block;
}
.wrong-answer-disabled {
  display: none;
}

.correct-answer {
  color: #34ac39;
}

.score {
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ddd;
}


/* Media Breakpoints */


@media screen and (max-width: 720px) {
  .questionaire li {
    font-size: 0.8em;
  }

  .notify-incorrect {
    font-size: 1em;
  }
}
