// Sass
@import 'base';
.bb {
  @include Box-Sizing(border-box);
}
html,
body {
  @extend .bb;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: 'Open Sans';
  color: #333;
}
.viewport {
  @extend .bb;
  width: 100%;
  height: 100%;
  overflow: auto;
}
/* Splash Pages */

$wet-color:#455781;
$dry-color:#d3c594;
.splash {
  @extend .bb;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}
.splash--dry {
  background-color: $dry-color;
}
.splash--wet {
  background-color: $wet-color;
}
$page-title-height:92px;
 $subtitle-height:40px;
 .page-title {
  @extend .bb;
  @include AbsCenter();
  padding-left: 30px;
  width: 320px;
  height: $page-title-height;
  font: {
    weight: 300;
    size: 92px;
  }
  letter-spacing:30px;
  line-height:$page-title-height;
  text-align:center;
}
.page-subtitle {
  @extend .bb;
  @include AbsCenter();
  width: 320px;
  height: $subtitle-height;
  top: $page-title-height + $subtitle-height;
  background-color: rgba(255, 255, 255, 0.25);
  font: {
    weight: 300;
    size: 24px;
  }
  line-height:$subtitle-height;
  text-align:center;
}
.page-title--dry,
.page-subtitle--dry {
  color: $wet-color;
}
.page-title--wet,
.page-subtitle--wet {
  color: $dry-color;
}
.switchbox {
  @extend .bb;
  margin: 20px auto;
  position: relative;
  width: 320px;
  height: 40px;
}
.dry-button,
.wet-button,
.quiz-link {
  @extend .bb;
  display: block;
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  @include Transition(0.25s all ease-out);
  @include Box-Shadow(0 0 4px 0 #333);
  &:hover {
    @include Transform(scale(1.2));
    @include Box-Shadow(0 0 12px 0 #333);
    color: #fff;
  }
  &:active {
    @include Transform(scale(0.9));
    @include Box-Shadow(0 0 4px -1px #333);
  }
}
.dry-button {
  background-color: $dry-color;
  float: left;
  color: $wet-color;
}
.wet-button {
  background-color: $wet-color;
  float: right;
  color: $dry-color;
}
.intro {
  @extend .bb;
  padding: 15px;
  text-align: center;
}
.quizbox,
.glossary {
  @extend .bb;
  padding-bottom: 50px;
  text-align: center;
}
.glossary {
  margin: 0 auto;
  width: 70%;
  header {
    text-align: center;
  }
  h4 {
    margin-bottom: 4px;
    text-align: left;
  }
  & > p {
    margin: 4px 0;
    font-size: 0.9em;
    text-align: left;
  }
  a {
    color: #4fabb7;
  }
}
.quiz-link {
  margin: 40px auto 0;
  background-color: #4fabb7;
  color: #f2f2f2;
}
hr {
  width: 90%;
  border: none;
  background-color: #eee;
  border-bottom: 1px dashed #ddd;
}
/* Quiz */

.container {
  @extend .bb;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #272822;
}
.wet-container,
.dry-container {
  @extend .bb;
  position: relative;
  width: 50%;
  height: 540px;
  float: left;
  header {
    @extend .bb;
    width: 100%;
    font: {
      weight: 300;
      size: 1.5em;
    }
    line-height:40px;
    text-align:center;
    letter-spacing:10px;
  }
}
.wet-container header {
  background-color: $wet-color;
  color: $dry-color;
}
.dry-container header {
  background-color: $dry-color;
  color: $wet-color;
}
.CodeMirror {
  width: 100%;
  height: calc(100% - 40px);
}
.questionaire {
  @extend .bb;
  padding: 40px 0;
  position: absolute;
  height: calc(100% - 40px);
  width: 100%;
  top: 40px;
  right: 0;
  background-color: #272822;
  overflow: auto;
  overflow-x: hidden;
  z-index: 50;
  ul {
    padding: 0;
    list-style: none;
  }
  li {
    @extend .bb;
    margin: 10px auto;
    padding: 10px;
    width: 65%;
    background-color: #fff;
    font-size: 0.9em;
    @include Transition(0.10s all ease-out);
    @include Box-Shadow(0 0 4px 0 #888);
    cursor: pointer;
    &:hover {
      background-color: #e6e6e6;
      @include Transform(scale(1.1));
    }
    &:active {
      @include Transform(scale(0.95));
    }
  }
}
.example {
  @extend .bb;
  padding: 15px;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  clear: both;
  z-index: 70;
  @include Box-Shadow(0 0 4px -1px #333);
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}
.notes {
  font: {
    size: 0.8em;
    style: italic;
  }
}
.next-question {
  @extend .bb;
  margin-top: 15px;
  padding: 10px;
  float: left;
  background-color: #4fabb7;
  font: {
    weight: 300;
    size: 0.9em;
  }
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  @include Transition(0.10s all ease-out);
  @include Box-Shadow(0 0 4px 0 #333);
  &:hover {
    @include Transform(scale(1.1));
    @include Box-Shadow(0 0 12px 0 #333);
  }
  &:active {
    @include Transform(scale(0.9));
    @include Box-Shadow(0 0 4px -1px #333);
  }
}
.notify-incorrect {
  @extend .bb;
  margin: auto;
  position: absolute;
  width: 320px;
  height: 40px;
  top: 3px;
  right: 0;
  left: 0;
  opacity: 0;
  font: {
    size: 1.5em;
  }
  text-align:center;
  color:#d32b2b;
  @include Transition(0.25s all ease-out);
}
.wrong-answer {
  opacity: 1;
}
.wrong-answer-disabled {
  opacity: 0;
}
.correct-answer {
  color: #34ac39;
}
.score {
  @extend .bb;
  padding: 10px;
  position: absolute;
  top: -4px;
  right: 12px;
  background-color: #d147cc;
  font: {
    size: 0.9em;
  }
  line-height: 20px;
  text-align: center;
  color: #fff;
  z-index: 60;
  @include Box-Shadow(0 0 8px 0 #333);
}
/* End Page */

.splash--end {
  background-color: #272822;
}
.end-box {
  @extend .bb;
  @include AbsCenter();
  width: 320px;
  height: 180px;
  background-color: #fff;
  text-align: center;
  color: #333;
  @include Box-Shadow(0 0 4px 0 #333);
}

.final-score {
  width: 100%;
  font-size: 1.1em;
}

.link-box {
  margin: 30px auto 0;
  width: 320px;
  height: auto;
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}
.play-again,
.tweet-it {
  @extend .bb;
  margin: 0 -5px;
  width: 140px;
  height: 40px;
  background-color: #d147cc;
  font: {
    weight: 300;
    size: 1.2em;
  }
  text-decoration: none;
  line-height: 40px;
  color: #fff;
  @include Transition(0.25s all ease-out);
  @include Box-Shadow(0 0 8px 0 #333);
  &:hover {
    margin: 0 -10px;
    background-color: lighten(#d147cc, 10%);
  }
  &:active {
    @include Transform(scale(0.9));
  }
}
.play-again {
  float: left;
}
.tweet-it {
  float: right;
}

.final-words {

}
/* Media Breakpoints */

@media screen and (max-width: 720px) {
  .wet-container,
  .dry-container {
    width: 100%;
    height: 360px;
  }
  .notify-incorrect {
    font-size: 1em;
  }
}
